body {
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.btn-primary {
    background-color: #04ddb2;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #04ddb2;
    transform: scale(110%);
}

nav {
    font-size: 1.3rem;
}

nav.bg-light {
    --bs-bg-opacity: 0.97;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.navbar-brand {
    font-weight: 800;
    font-size: 1.5rem;
    margin-right: 0.4rem;
}

svg {
    margin-top: 0;
    height: 1.5rem;
    margin-bottom: 0.5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    transform: scale(105%);
    color: #333;
}

.download {
    flex-grow: 0;
}

main {
    margin: auto;
    max-width: 50vw;
    text-align: center;
    color: #333;
}

h2{
    font-weight: 400;
}

.display-2 {
    font-weight: 700;
}

.tour {
    color: #04ddb2;
}

section>.container {
    max-width: 70vw;
}

.container>img {
    border-radius: 30px;
}